
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@forward 'theme';
@use '@angular/material' as mat;
@use '@evolve/design-tokens-lib/dist/scss/color';
@use '@evolve/scss-lib/src/sass/theme/palette';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$dao-primary-palette: (
  50: color.$ev-primary-blue-gray,
  100: color.$ev-primary-blue-gray,
  200: color.$ev-primary-blue-gray,
  300:color.$ev-primary-blue-gray,
  400: color.$ev-primary-blue,
  500: color.$ev-primary-blue,
  600: color.$ev-primary-blue,
  700: color.$ev-primary-navy,
  800: color.$ev-primary-navy,
  900: color.$ev-primary-navy,
  contrast: (
    50: palette.ev-theme-prop-value(text-primary-on-light),
    100: white,
    200: rgba(black, 0.87),
    300: palette.ev-theme-prop-value(text-primary-on-light),
    400: palette.ev-theme-prop-value(text-primary-on-light),
    500: palette.ev-theme-prop-value(text-primary-on-light),
    600: palette.ev-theme-prop-value(text-primary-on-light),
    700: palette.ev-theme-prop-value(text-primary-on-dark),
    800: palette.ev-theme-prop-value(text-primary-on-dark),
    900: palette.ev-theme-prop-value(text-primary-on-dark)
  )
);

$dao-accent-palette: (
  50: color.$ev-primary-blue-gray,
  100: color.$ev-primary-blue-gray,
  200: color.$ev-primary-blue-gray,
  300: color.$ev-primary-blue-gray,
  400: color.$ev-primary-blue,
  500: color.$ev-primary-blue,
  600: color.$ev-primary-blue,
  700: color.$ev-primary-navy,
  800: color.$ev-primary-navy,
  900: color.$ev-primary-navy,
  contrast: (
    50: palette.ev-theme-prop-value(text-primary-on-light),
    100: white,
    200: rgba(black, 0.87),
    300: palette.ev-theme-prop-value(text-primary-on-light),
    400: palette.ev-theme-prop-value(text-primary-on-light),
    500: palette.ev-theme-prop-value(text-primary-on-light),
    600: palette.ev-theme-prop-value(text-primary-on-light),
    700: palette.ev-theme-prop-value(text-primary-on-dark),
    800: palette.ev-theme-prop-value(text-primary-on-dark),
    900: palette.ev-theme-prop-value(text-primary-on-dark)
  )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dao-prototype-primary: mat.define-palette($dao-primary-palette);
$dao-prototype-accent: mat.define-palette($dao-accent-palette);

// The warn palette is optional (defaults to red).
$dao-prototype-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dao-prototype-theme: mat.define-light-theme((
  color: (
    primary: $dao-prototype-primary,
    accent: $dao-prototype-accent,
    warn: $dao-prototype-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dao-prototype-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
